/* GERAL */
:root{

--color-default: #6132A4;
--color-default-dark: #562C91;
--color-featured: #1FE9C5;
--color-featured-dark: #16DAB7;

}

body{
    text-align: center;
}
a{
    text-decoration: none;
}
i{
    color: var(--color-featured);
}
i:hover{
    color: var(--color-featured-dark);
}
h1{
    font-size: 3.5rem;
}
section{
    padding: 100px 0;
}

.title{
    text-transform: uppercase;
}
.title-cont,
.title{
    margin-bottom: 24px;
}
hr{
    width:60px;
    height: 6px;
    background-color:  var(--color-featured);
    margin-bottom: 40px;
}
.botao{
    display:inline-block;
}
.btn{
    border-radius: 30px;
    
    padding: 8px 24px;
}
.btn a{
    margin: 0 4px;
    font-weight: bold;
}
.button-default{
    color: #fff;
    border: 1px solid var(--color-default);
    background-color: var(--color-default);
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
}
.button-default:hover{
    color:  var(--color-default);
    background-color: #fff;
    border: 1px solid var(--color-default);
}
.button-default:focus {
    color: var(--color-default) ;
    background-color: #F8F8F8 ;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
}

.button-secondary{
    color: var(--color-default);
    background-color: transparent;
    border: 1px solid var(--color-default);
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
}
.button-secondary:hover{
    color: #fff;
    background-color: var(--color-default);
    border: 1px solid var(--color-default);
}
.button-secondary:focus {
    background-color: var(--color-default-dark);
    box-shadow: 0 5px 5px rgba(86,44,145,.5);
    color: #fff;
}

/* CABEÇALHO */
#banner{
    height: 100vh;
    text-align: center;
    background: linear-gradient(-45deg, #7944C6, #6C38B7, #6132A4);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
	0%{background-position: 0% 50%}
	50%{background-position: 100% 50%}
	100%{background-position: 0% 50%}
}
@-moz-keyframes Gradient {
	0%{background-position: 0% 50%}
	50%{background-position: 100% 50%}
	100%{background-position: 0% 50%}
}
@keyframes Gradient {
	0%{background-position: 0% 50%}
	50%{background-position: 100% 50%}
	100%{background-position: 0% 50%}
}
.my-header{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.my-header h1,
.my-header h3{
    color: #fff;
}
/* REDES SOCIAIS */
.social-networks {margin-top: 7%;}
.social-networks a{padding: 2%; font-size: 2rem;}

/* skills */
#skills i{
    font-size: 4em;
    padding: 2%;
    display: inline-block;
}
/* PROJETOS */
.card{
    margin-bottom: 10%;
}
/* CONTACT */
#contact{
    background-color:  var(--color-default);
}
#contact a{
    color: #fff;
}
#contact i,
#contact p{
    padding-bottom: 3%;
}
#contact,
footer{color:white;}

/* FOOTER */
footer{background-color: var(--color-default-dark);}
footer .copyright{
    padding:5px 0 5px;
    font-size:1.1em;
    text-align: center;
}
footer .copyright a{
    color:#d1e4f5;
    text-decoration: none;
}
footer .copyright p{margin-top: 16px;}
footer .copyright img{width: 1em;}